Repository jst-seminar-rostlab-tum/eutop-mediamind, pull requests merged in 2025-06, with the labels that each got.

#68 feat: frontend pipelines
  .github/workflows/frontend-deploy.yml
  .github/workflows/frontend-premerge.yml
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, meta

#110 Fix broken api types pipeline
  .github/workflows/generate-api-types.yml
Labels: meta

#111 Fix: issues in backend & pipeline
  .github/workflows/generate-api-types.yml
  backend/.env.example
  backend/app/core/config.py
Labels: meta

#114 fix: remove copy step in api types generation pipeline
  .github/workflows/generate-api-types.yml
Labels: meta

#122 Add AI suggestions
  frontend/app/custom-components/profile/edit/ai-suggestion-tag.tsx
  frontend/app/custom-components/profile/edit/data-table-subscriptions.tsx
  frontend/app/custom-components/profile/edit/general.tsx
  frontend/app/custom-components/profile/edit/keyword-field.tsx
  frontend/app/custom-components/profile/edit/subscriptions.tsx
  frontend/app/custom-components/profile/edit/topics.tsx
Labels: frontend

#148 Add ALB config to ECS module and ACM certificate support
  infra/main.tf
  infra/modules/ecs/main.tf
Labels: meta

#153 Feat/api edit profile view
  frontend/app/components/ui/sonner.tsx
  frontend/app/custom-components/dashboard/profile-card.tsx
  frontend/app/custom-components/profile/edit/data-table-mailing.tsx
  frontend/app/custom-components/profile/edit/data-table-subscriptions.tsx
  frontend/app/custom-components/profile/edit/edit-profile.tsx
  frontend/app/custom-components/profile/edit/general.tsx
  frontend/app/custom-components/profile/edit/keyword-field.tsx
  frontend/app/custom-components/profile/edit/keyword-tag.tsx
  frontend/app/custom-components/profile/edit/mailing.tsx
  frontend/app/custom-components/profile/edit/subscriptions.tsx
  frontend/app/custom-components/profile/edit/topics.tsx
  frontend/app/pages/dashboard/dashboard.tsx
  frontend/app/root.tsx
  frontend/app/types/profile.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/types/api-types-v1.d.ts
  frontend/types/api.ts
  frontend/types/model.ts
Labels: frontend

#152 fix: admin settings changes
  frontend/.env.example
  frontend/app/components/ui/button.tsx
  frontend/app/custom-components/admin-settings/data-table-users.tsx
  frontend/app/custom-components/admin-settings/data-table.tsx
  frontend/app/custom-components/text.tsx
  frontend/app/hooks/api/use-search-profiles.ts
  frontend/app/pages/admin/admin.tsx
  frontend/app/pages/admin/columns.tsx
  frontend/app/pages/admin/dialogs/organization-dialog.tsx
  frontend/app/pages/admin/dialogs/subscription-dialog.tsx
  frontend/app/pages/admin/types.ts
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#118 Feat/endpoints search-profiles
  backend/app/api/v1/endpoints/search_profile_controller.py
  backend/app/api/v1/endpoints/subscription_controller.py
  backend/app/api/v1/endpoints/user_controller.py
  backend/app/api/v1/routes.py
  backend/app/core/logger.py
  backend/app/initial_data.py
  backend/app/main.py
  backend/app/models/search_profile.py
  backend/app/models/user.py
  backend/app/repositories/keyword_repository.py
  backend/app/repositories/match_repository.py
  backend/app/repositories/match_repositoy.py
  backend/app/repositories/search_profile_repository.py
  backend/app/repositories/subscription_repository.py
  backend/app/repositories/topics_repository.py
  backend/app/repositories/user_repository.py
  backend/app/run.py
  backend/app/schemas/keyword_schemas.py
  backend/app/schemas/search_profile_schemas.py
  backend/app/schemas/subscription_schemas.py
  backend/app/schemas/topic_schemas.py
  backend/app/services/__init__.py
  backend/app/services/keywords_service.py
  backend/app/services/search_profiles_service.py
  backend/app/services/subscription_service.py
  backend/app/services/topics_service.py
  backend/tests/unit_tests/test_search_profiles.py
Labels: backend

#173 fix: update dependencies in requirements.txt
  backend/requirements.txt
Labels: bug, backend

#180 feat: show user organization
  backend/app/repositories/user_repository.py
  frontend/app/custom-components/header.tsx
  frontend/types/model.ts
Labels: frontend

#183 Feat/search profile deletion and confirmation
  frontend/app/custom-components/dashboard/profile-card.tsx
  frontend/app/custom-components/profile/edit/edit-profile.tsx
  frontend/app/pages/dashboard/dashboard.tsx
Labels: frontend

#155 Feat/keyword generation
  backend/app/api/v1/endpoints/search_profile_controller.py
  backend/app/schemas/search_profile_schemas.py
  backend/app/services/llm_service/llm_client.py
  backend/app/services/search_profiles_service.py
  frontend/app/custom-components/profile/edit/ai-suggestion-tag.tsx
  frontend/app/custom-components/profile/edit/topics.tsx
  frontend/types/api-types-v1.d.ts
Labels: backend

#186 fix: is_editable and is_public
  backend/app/schemas/search_profile_schemas.py
  backend/app/services/search_profiles_service.py
  frontend/app/custom-components/profile/edit/edit-profile.tsx
  frontend/app/custom-components/profile/edit/general.tsx
  frontend/package.json
  frontend/types/api-types-v1.d.ts
Labels: backend

#176 Feat: add fields to db with alembic
  backend/alembic/versions/233ad2724f46_seachrprofile_owner_id.py
  backend/alembic/versions/2e9243e9b497_inital_schema.py
  backend/alembic/versions/35741af0d46a_changed_article_and_subscription_for_.py
  backend/alembic/versions/61d6eb52c29c_added_email_columns.py
  backend/alembic/versions/cce014679366_match_topic_id.py
  backend/app/models/article.py
  backend/app/models/match.py
  backend/app/models/search_profile.py
  backend/app/models/subscription.py
Labels: backend

#151 Feat/email sending
  backend/.env.example
  backend/.gitignore
  backend/alembic/env.py
  backend/alembic/versions/82da1701bd5f_email_table.py
  backend/app/api/v1/endpoints/email_controller.py
  backend/app/api/v1/routes.py
  backend/app/core/config.py
  backend/app/core/db.py
  backend/app/models/__init__.py
  backend/app/models/email.py
  backend/app/models/topic.py
  backend/app/repositories/article_repository.py
  backend/app/repositories/email_repository.py
  backend/app/services/email_service.py
  backend/app/services/pdf_service.py
  backend/assets/eutop_logo.svg
  backend/assets/fonts/DejaVuSans-Bold.ttf
  backend/assets/fonts/DejaVuSans-BoldOblique.ttf
  backend/assets/fonts/DejaVuSans-Oblique.ttf
  backend/assets/fonts/DejaVuSans.ttf
  backend/assets/link_icon.png
  backend/pyproject.toml
  backend/requirements.txt
  backend/tests/conftest.py
  backend/tests/integration_tests/test_email.py
Labels: backend

#189 Endpoints for article, keywordm topic and vector store controller
  backend/.env.example
  backend/app/api/v1/endpoints/article_controller.py
  backend/app/api/v1/endpoints/keyword_controller.py
  backend/app/api/v1/endpoints/match_controller.py
  backend/app/api/v1/endpoints/topic_controller.py
  backend/app/api/v1/endpoints/vector_store_controller.py
  backend/app/api/v1/routes.py
  backend/app/core/config.py
  backend/app/core/db.py
  backend/app/repositories/keyword_repository.py
  backend/app/repositories/match_repository.py
  backend/app/repositories/search_profile_repository.py
  backend/app/repositories/topics_repository.py
  backend/app/run.py
  backend/app/services/article_summary_service.py
  backend/app/services/article_vector_service.py
  backend/app/services/matching.py
  backend/app/services/matching_service.py
  backend/requirements.txt
Labels: backend

#175 71 setup matching algorithm
  backend/app/api/v1/endpoints/topic_controller.py
  backend/app/services/article_vector_service.py
  backend/app/services/matching_service.py
Labels: backend

#201 Fix: is_public_mapping_update_SP
  backend/app/repositories/search_profile_repository.py
Labels: backend

#222 fix: sentry loading
  frontend/app/pages/error/error.tsx
  frontend/app/root.tsx
Labels: frontend

#217 Remove hardcoded collection_name
  backend/app/services/article_vector_service.py
Labels: backend

#242 Set correct env variable reference in Sentry initialization
  backend/app/main.py
Labels: bug

#236 Fix: User files as well as auth and make use of UserEntity
  backend/app/api/v1/endpoints/user_controller.py
  backend/app/core/auth.py
  backend/app/repositories/user_repository.py
  backend/app/services/user_service.py
  backend/tests/unit_tests/test_auth.py
Labels: backend

#251 Update/improve READMEs
  README.md
  backend/README.md
Labels: documentation

#257 Update ECS deployment steps for production and development
  .github/workflows/backend-deploy.yml
  README.md
  backend/app/main.py
Labels: meta

#264 remove unnecessary files
  backend/app/backend_pre_start.py
  backend/app/tests_pre_start.py
Labels: backend

#260 delete redundant match_repositoy.py
  backend/app/repositories/match_repository.py
  backend/app/repositories/match_repositoy.py
  backend/app/services/matching.py
  backend/app/services/search_profiles_service.py
Labels: backend

#273 remove files old matching_service
  backend/app/api/v1/endpoints/match_controller.py
  backend/app/api/v1/routes.py
  backend/app/services/matching_service.py
Labels: backend

#261 Feat/internationalization
  frontend/app/custom-components/admin-settings/data-table-users.tsx
  frontend/app/custom-components/admin-settings/data-table.tsx
  frontend/app/custom-components/dashboard/profile-card.tsx
  frontend/app/custom-components/header.tsx
  frontend/app/custom-components/profile/edit/data-table-mailing.tsx
  frontend/app/custom-components/profile/edit/data-table-subscriptions.tsx
  frontend/app/custom-components/profile/edit/edit-profile.tsx
  frontend/app/custom-components/profile/edit/general.tsx
  frontend/app/custom-components/profile/edit/keyword-field.tsx
  frontend/app/custom-components/profile/edit/mailing.tsx
  frontend/app/custom-components/profile/edit/subscriptions.tsx
  frontend/app/custom-components/profile/edit/topics.tsx
  frontend/app/i18n.ts
  frontend/app/pages/admin/admin.tsx
  frontend/app/pages/admin/columns.tsx
  frontend/app/pages/admin/dialogs/organization-dialog.tsx
  frontend/app/pages/admin/dialogs/subscription-dialog.tsx
  frontend/app/pages/dashboard/breaking-news.tsx
  frontend/app/pages/dashboard/dashboard.tsx
  frontend/app/pages/welcome/welcome.tsx
  frontend/app/root.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/public/German_Flag.svg
  frontend/public/UK_Flag.svg
  frontend/public/US-UK_Flag.svg
  frontend/public/locales/de/translations.json
  frontend/public/locales/en/translations.json
Labels: frontend

#268 feat: breaking news real time alert stream of major global events
  backend/.env.example
  backend/app/api/v1/endpoints/crawler_controller.py
  backend/app/core/config.py
  backend/app/core/db.py
  backend/app/models/breaking_news.py
  backend/app/services/web_harvester/breaking_news_crawler.py
  backend/app/services/web_harvester/pipeline.py
  backend/requirements.txt
  scripts/docker-compose.dev.yml
Labels: backend

#294 Fix sync user API call
  frontend/app/hooks/use-authorization.tsx
Labels: bug, frontend

#267 Feat/extended rights on search profiles
  backend/alembic/versions/09fa63ba990e_.py
  backend/alembic/versions/a62d51edab71_.py
  backend/alembic/versions/c7368263114f_.py
  backend/alembic/versions/e1e416a56286_add_exteded_rights_to_search_profile.py
  backend/app/api/v1/endpoints/user_controller.py
  backend/app/models/search_profile.py
  backend/app/repositories/search_profile_repository.py
  backend/app/repositories/user_repository.py
  backend/app/schemas/search_profile_schemas.py
  backend/app/services/search_profiles_service.py
  backend/app/services/user_service.py
  backend/tests/unit_tests/test_llm_service.py
  frontend/app/hooks/use-authorization.tsx
Labels: backend

#307 fix alembic file
  backend/alembic/versions/93ba3c1cbed0_added_crawler_fields_to_subscription_.py
Labels: backend

#289 Feat/translation and entity extraction
  backend/.gitignore
  backend/alembic/env.py
  backend/alembic/versions/37080347559f_merge_heads.py
  backend/alembic/versions/bdee7e922ed6_translation_columns_in_articles_and_.py
  backend/alembic/versions/d72932518738_merge_multiple_heads.py
  backend/app/models/__init__.py
  backend/app/models/article.py
  backend/app/models/entity.py
  backend/app/repositories/article_repository.py
  backend/app/repositories/entity_repository.py
  backend/app/services/article_summary_service.py
  backend/app/services/llm_service/llm_client.py
  backend/app/services/translation_service.py
Labels: backend

#262 Feat210 update pdf reports generation
  backend/app/api/v1/endpoints/article_controller.py
  backend/app/repositories/article_repository.py
  backend/app/services/pdf_service.py
  backend/app/services/pdf_service/__init__.py
  backend/app/services/pdf_service/colors.py
  backend/app/services/pdf_service/cover_elements.py
  backend/app/services/pdf_service/fonts.py
  backend/app/services/pdf_service/full_articles_elements.py
  backend/app/services/pdf_service/header_footer.py
  backend/app/services/pdf_service/news_item.py
  backend/app/services/pdf_service/pdf_service.py
  backend/app/services/pdf_service/styles.py
  backend/app/services/pdf_service/summaries_elements.py
  backend/app/services/pdf_service/utils.py
  backend/app/services/report_service.py
  backend/assets/metadata.json
Labels: backend

#312 281 include profile and topic names to improve context on ai keyword suggestions
  backend/app/api/v1/endpoints/search_profile_controller.py
  backend/app/schemas/search_profile_schemas.py
  backend/app/services/llm_service/prompts/__init__.py
  backend/app/services/llm_service/prompts/keyword_suggestion_prompts.py
  backend/app/services/search_profiles_service.py
  frontend/app/components/ui/skeleton.tsx
  frontend/app/custom-components/header.tsx
  frontend/app/custom-components/profile/edit/edit-profile.tsx
  frontend/app/custom-components/profile/edit/general.tsx
  frontend/app/custom-components/profile/edit/topics.tsx
  frontend/app/hooks/use-authorization.tsx
  frontend/public/locales/de/translations.json
  frontend/public/locales/en/translations.json
  frontend/types/api-types-v1.d.ts
Labels: backend

#320 feat: added crawler stats
  backend/alembic/versions/29162befc9ae_merge_heads.py
  backend/alembic/versions/4457e8b43ae3_added_crawler_stats.py
  backend/alembic/versions/f4218eba1395_merge_heads.py
  backend/app/models/__init__.py
  backend/app/models/article.py
  backend/app/models/crawl_stats.py
  backend/app/models/subscription.py
  backend/app/repositories/crawl_stats_repository.py
  backend/app/services/web_harvester/pipeline.py
  backend/app/services/web_harvester/utils/web_utils.py
Labels: backend

#315 Add roles, visibility and topic/keyword count
  frontend/app/components/ui/tooltip.tsx
  frontend/app/custom-components/dashboard/filter-bar.tsx
  frontend/app/custom-components/dashboard/profile-card.tsx
  frontend/app/custom-components/dashboard/role-badge.tsx
  frontend/app/pages/dashboard/dashboard.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/de/translations.json
  frontend/public/locales/en/translations.json
Labels: enhancement, frontend

#241 Feat/breaking news
  frontend/app/custom-components/breaking-news/breaking-news-card.tsx
  frontend/app/lib/utils.ts
  frontend/app/pages/breaking-news/breaking-news.tsx
  frontend/app/pages/dashboard/dashboard.tsx
  frontend/app/routes.ts
  frontend/app/routes/breaking-news.tsx
  frontend/public/locales/de/translations.json
  frontend/public/locales/en/translations.json
  frontend/types/model.ts
Labels: frontend

#226 Add article page
  frontend/app/components/ui/badge.tsx
  frontend/app/custom-components/article/article-body.tsx
  frontend/app/custom-components/article/article-breadcrumb.tsx
  frontend/app/custom-components/article/article-meta-data-table.tsx
  frontend/app/custom-components/article/article-sidebar.tsx
  frontend/app/lib/utils.ts
  frontend/app/pages/article/article.tsx
  frontend/app/routes.ts
  frontend/app/routes/article.tsx
  frontend/public/locales/de/translations.json
  frontend/public/locales/en/translations.json
  frontend/types/api-types-v1.d.ts
  frontend/types/model.ts
Labels: frontend
