Repository jst-seminar-rostlab-tum/eutop-mediamind, pull requests merged in 2025-05, with the labels that each got.

#1 chore(backend): add linting workflow and initial project setup
  .github/workflows/python-lint.yml
  backend/.flake8
  backend/.gitignore
  backend/README.md
  backend/pyproject.toml
  backend/requirements.txt
  backend/src/__init__.py
  backend/src/main.py
Labels: documentation, backend

#2 feat: initial readme
  README.md
Labels: documentation

#4 Docs: create coding guidelines md file
  GUIDELINES.md
  README.md
Labels: documentation

#30 feat: backend structure
  .github/workflows/backend-deploy.yml
  .github/workflows/backend-premerge.yml
  .github/workflows/docker-build-push.yml
  backend/.env.example
  backend/.flake8
  backend/Dockerfile
  backend/README.md
  backend/app/__init__.py
  backend/app/api/v1/endpoints/user.py
  backend/app/api/v1/routes.py
  backend/app/core/config.py
  backend/app/core/db.py
  backend/app/core/exceptions.py
  backend/app/main.py
  backend/app/repositories/__init__.py
  backend/app/services/__init__.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/src/db.py
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/integration_tests/test_user_router.py
  backend/tests/unit_tests/test_fixture.py
Labels: backend, meta

#32 feat: add test coverage workflow
  .github/workflows/backend-premerge.yml
  backend/README.md
Labels: meta

#51 feat: configure vercel deployments
  backend/README.md
  backend/app/api/v1/routes.py
  backend/tests/integration_tests/test_healthcheck.py
  frontend/.gitignore
  frontend/vercel.json
Labels: bug, meta

#52 feat: add sentry integration
  README.md
  backend/app/main.py
  backend/requirements.txt
  frontend/app/root.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: backend, frontend, meta

#55 feat/clerk-authentication-backend
  backend/.env.example
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/user.py
  backend/app/api/v1/endpoints/users.py
  backend/app/api/v1/routes.py
  backend/app/core/config.py
  backend/app/core/dependencies.py
  backend/requirements.txt
  backend/tests/integration_tests/test_auth_router.py
  backend/tests/integration_tests/test_user_router.py
  backend/tests/unit_tests/test_auth.py
Labels: backend, meta

#59 feat(logger): integrate structured logger and initialize in main
  backend/.gitignore
  backend/app/core/logger.py
  backend/app/main.py
  backend/docker-compose.yml
Labels: backend

#56 feat: add landing page and proper SVGs
  frontend/app/components/ui/button.tsx
  frontend/app/components/ui/card.tsx
  frontend/app/custom-components/header.tsx
  frontend/app/custom-components/layout.tsx
  frontend/app/custom-components/text.tsx
  frontend/app/pages/welcome/welcome.tsx
  frontend/eslint.config.js
  frontend/public/EUTOP_Logo.png
  frontend/public/Eutop_Wallpaper.svg
  frontend/public/MediaMind_Logo.svg
  frontend/public/TUM_Logo.svg
  frontend/public/favicon.ico
Labels: frontend

#54 feat: pipeline to generate typescript types
  .github/workflows/backend-deploy.yml
  .github/workflows/generate-api-types.yml
  backend/scripts/extract-openapi.py
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/types/api-types-v1.d.ts
  frontend/types/api.ts
Labels: frontend, meta

#57 feat: added LiteLLM gateway
  backend/.env.example
  backend/app/services/llm_service/__init__.py
  backend/app/services/llm_service/llm_client.py
  backend/app/services/llm_service/llm_models.py
  backend/requirements.txt
  backend/tests/unit_tests/test_llm_service.py
Labels: backend, meta

#82 fix(frontend): sentry integration
  frontend/app/root.tsx
  frontend/package-lock.json
Labels: bug

#74 Feat: added Qdrant vector database
  README.md
  backend/.env.example
  backend/app/core/config.py
  backend/app/core/db.py
  backend/docker-compose.yml
  scripts/docker-compose.dev.yml
Labels: meta

#66 feat: added User Analytics using Hotjar
  frontend/.env.example
  frontend/.gitignore
  frontend/app/root.tsx
Labels: frontend, meta

#77 feat: endpoints skeletons
  backend/.env.example
  backend/README.md
  backend/app/api/v1/endpoints/auth_controller.py
  backend/app/api/v1/endpoints/search_profile_controller.py
  backend/app/api/v1/endpoints/user_controller.py
  backend/app/api/v1/endpoints/users.py
  backend/app/api/v1/routes.py
  backend/app/core/config.py
  backend/app/core/dependencies.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/repositories/__init__.py
  backend/app/repositories/match_repository.py
  backend/app/repositories/search_profile_repository.py
  backend/app/schemas/__init__.py
  backend/app/schemas/articles_schemas.py
  backend/app/schemas/match_schemas.py
  backend/app/schemas/search_profile_schemas.py
  backend/app/schemas/user_schema.py
  backend/app/services/auth_service.py
  backend/app/services/matching.py
  backend/app/services/search_profiles_service.py
  backend/app/services/user_service.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/tests/integration_tests/test_auth_router.py
  backend/tests/integration_tests/test_user_router.py
Labels: backend

#53 49 setup database scheme for postgresql
  .gitignore
  backend/.env.example
  backend/README.md
  backend/__init__.py
  backend/app/api/v1/endpoints/auth_controller.py
  backend/app/api/v1/endpoints/search_profile_controller.py
  backend/app/api/v1/endpoints/user_controller.py
  backend/app/api/v1/endpoints/users.py
  backend/app/api/v1/routes.py
  backend/app/backend_pre_start.py
  backend/app/core/__init__.py
  backend/app/core/config.py
  backend/app/core/db.py
  backend/app/core/dependencies.py
  backend/app/core/exceptions.py
  backend/app/initial_data.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/article.py
  backend/app/models/associations.py
  backend/app/models/auth.py
  backend/app/models/keyword.py
  backend/app/models/match.py
  backend/app/models/organization.py
  backend/app/models/search_profile.py
  backend/app/models/subscription.py
  backend/app/models/topic.py
  backend/app/models/user.py
  backend/app/repositories/match_repository.py
  backend/app/repositories/search_profile_repository.py
  backend/app/schemas/__init__.py
  backend/app/schemas/articles_schemas.py
  backend/app/schemas/match_schemas.py
  backend/app/schemas/request_response.py
  backend/app/schemas/search_profile_schemas.py
  backend/app/schemas/user_schema.py
  backend/app/services/auth_service.py
  backend/app/services/matching.py
  backend/app/services/search_profiles_service.py
  backend/app/services/user_service.py
  backend/app/tests_pre_start.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/tests/integration_tests/test_auth_router.py
  backend/tests/integration_tests/test_user_router.py
  backend/tests/unit_tests/test_search_profiles.py
Labels: backend

#97 Reduce test coverage from 75 to 50
  .github/workflows/backend-premerge.yml
Labels: backend, meta

#90 49 setup database scheme for postgresql
  backend/app/api/v1/endpoints/auth_controller.py
  backend/app/api/v1/endpoints/search_profile_controller.py
  backend/app/api/v1/endpoints/user_controller.py
  backend/app/services/user_service.py
Labels: backend

#100 Fix generate api types workflow
  .github/workflows/generate-api-types.yml
Labels: frontend, meta

#105 Fix/api types git configuration
  .github/workflows/backend-deploy.yml
  .github/workflows/generate-api-types.yml
Labels: meta
