Repository jst-seminar-rostlab-tum/eutop-mediamind, pull requests merged in 2025-07, with the labels that each got.

#323 fix: break long profile names
  frontend/app/custom-components/profile/edit/edit-profile.tsx
Labels: frontend

#321 292 matching adapt to multiple matchings per day
  backend/alembic/versions/2a622949461f_add_matching_run.py
  backend/app/models/__init__.py
  backend/app/models/match.py
  backend/app/models/matching_run.py
  backend/app/models/report.py
  backend/app/repositories/matching_run_repository.py
  backend/app/services/article_matching_service.py
Labels: backend

#336 chore: cleanup ui
  frontend/app/custom-components/article/article-breadcrumb.tsx
  frontend/app/custom-components/dashboard/profile-card-skeleton.tsx
  frontend/app/custom-components/layout.tsx
  frontend/app/hooks/api/use-search-profiles.ts
  frontend/app/pages/admin/admin.tsx
  frontend/app/pages/breaking-news/breaking-news.tsx
  frontend/app/pages/dashboard/dashboard.tsx
  frontend/app/pages/search-profile/search-profile.tsx
  frontend/public/locales/de/translations.json
  frontend/public/locales/en/translations.json
Labels: frontend

#325 Feat/organization endpoints
  backend/app/api/v1/endpoints/organization_controller.py
  backend/app/api/v1/routes.py
  backend/app/models/organization.py
  backend/app/repositories/organization_repository.py
  backend/app/repositories/user_repository.py
  backend/app/schemas/organization_schemas.py
  backend/app/schemas/subscription_schemas.py
  backend/app/services/organization_service.py
  backend/app/services/user_service.py
Labels: backend

#373 fix: localization
  backend/app/schemas/articles_schemas.py
  frontend/app/custom-components/article/article-meta-data-table.tsx
  frontend/app/custom-components/article/article-sidebar.tsx
  frontend/app/pages/search-profile/search-profile.tsx
  frontend/types/api-types-v1.d.ts
Labels: frontend

#366 Feat: user role in organization
  backend/.env.example
  backend/alembic/versions/e7b0b013f9db_add_user_role.py
  backend/alembic/versions/efd92ff0b2df_.py
  backend/app/models/__init__.py
  backend/app/models/organization.py
  backend/app/models/user.py
  backend/app/repositories/search_profile_repository.py
  backend/app/repositories/user_repository.py
  backend/app/schemas/organization_schemas.py
  backend/app/schemas/user_schema.py
  backend/app/services/organization_service.py
  backend/app/services/search_profiles_service.py
Labels: backend

#362 335 advanced keyword suggestions
  backend/app/services/llm_service/prompts/keyword_suggestion_prompts.py
  backend/app/services/search_profiles_service.py
Labels: backend

#383 Fix None in email
  backend/app/services/email_service.py
Labels: bug, backend

#328 Feat/LLM Login
  .gitignore
  backend/.gitignore
  backend/app/services/llm_service/llm_client.py
  backend/app/services/login_llm_service.py
Labels: backend

#375 chore: fix percentage
  frontend/app/custom-components/article/article-sidebar.tsx
  frontend/app/lib/utils.ts
  frontend/app/pages/search-profile/search-profile.tsx
Labels: frontend

#391 fix: SP get user rights
  backend/app/repositories/search_profile_repository.py
  backend/app/services/search_profiles_service.py
Labels: backend

#387 Fix: Delete Subscription Procedure
  backend/app/repositories/subscription_repository.py
Labels: backend

#353 Add suggestion refresh button
  frontend/app/custom-components/profile/edit/topics.tsx
  frontend/public/locales/de/translations.json
  frontend/public/locales/en/translations.json
Labels: frontend

#371 Fixes in report sending
  backend/app/core/languages.py
  backend/app/repositories/user_repository.py
  backend/app/services/email_service.py
  backend/app/services/pipeline.py
  backend/app/services/report_service.py
Labels: bug, backend

#408 Update lambda response body and chatbot controller
  backend/app/schemas/chatbot_schemas.py
  scripts/trigger_chat.py
Labels: backend

#412 feat: enhance matching logic to skip existing matches and log results
  backend/app/repositories/match_repository.py
  backend/app/services/article_matching_service.py
Labels: backend

#404 fix: get matched articles for profile using last matching run
  backend/app/repositories/article_repository.py
  backend/app/repositories/matching_run_repository.py
Labels: backend

#397 chore: make layout wider
  frontend/app/custom-components/layout.tsx
Labels: frontend

#395 Feat/setup proxy servers
  backend/.env.example
  backend/app/api/v1/endpoints/crawler_controller.py
  backend/app/core/config.py
  backend/app/services/seeding_service/seeding_service.py
  backend/app/services/web_harvester/crawler.py
  backend/app/services/web_harvester/scraper.py
  backend/app/services/web_harvester/utils/web_utils.py
  backend/app/services/web_harvester/web_harvester_orchestrator.py
  backend/data/subscriptions.json
  backend/requirements.txt
Labels: backend

#417 chore(stats): add time
  frontend/app/pages/crawler-stats/crawler-stats.tsx
Labels: frontend

#418 feat: user gender
  backend/alembic/versions/7af6cf813735_add_gender_to_user.py
  backend/app/api/v1/endpoints/user_controller.py
  backend/app/models/user.py
  backend/app/repositories/user_repository.py
  backend/app/schemas/user_schema.py
  backend/app/services/user_service.py
  frontend/app/components/ui/select.tsx
  frontend/app/custom-components/header.tsx
  frontend/app/custom-components/user-settings/personal-settings-page.css
  frontend/app/custom-components/user-settings/personal-settings-page.tsx
  frontend/app/hooks/use-authorization.tsx
  frontend/package.json
  frontend/public/locales/de/translations.json
  frontend/public/locales/en/translations.json
  frontend/types/api-types-v1.d.ts
Labels: backend

#381 Fix: Backend flake8
  backend/.flake8
  backend/README.md
  backend/tests/conftest.py
  backend/tests/integration_tests/test_article_vector_service_integration.py
  backend/tests/integration_tests/test_auth_router.py
  backend/tests/integration_tests/test_email.py
  backend/tests/integration_tests/test_user_router.py
  backend/tests/unit_tests/test_article_vector_service.py
  backend/tests/unit_tests/test_auth.py
  backend/tests/unit_tests/test_llm_service.py
  backend/tests/unit_tests/test_search_profiles.py
Labels: backend

#411 Increase ECS task memory from 512 to 4096
  infra/modules/ecs/main.tf
Labels: meta

#448 Change label of language field article meta data
  frontend/public/locales/de/translations.json
  frontend/public/locales/en/translations.json
Labels: frontend

#463 Add markdown support article page
  frontend/app/app.css
  frontend/app/custom-components/article/article-body.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#467 Add gender to email and update language fallback
  apps/api/app/services/email_service.py
  apps/api/app/services/locales/de/LC_MESSAGES/translations.po
Labels: backend

#424 Fix/pipeline fixes
  apps/api/alembic/versions/b947a2c9659d_add_server_default_to_organization_.py
  apps/api/app/models/report.py
  apps/api/app/models/search_profile.py
  apps/api/app/repositories/matching_run_repository.py
  apps/api/app/repositories/user_repository.py
  apps/api/app/services/email_service.py
  apps/api/app/services/pdf_service/pdf_service.py
  apps/api/app/services/pipeline.py
  apps/api/app/services/web_harvester/utils/web_utils.py
Labels: backend, meta

#438 fix: get all subscriptions for organizations
  apps/api/app/repositories/organization_repository.py
  apps/api/app/repositories/subscription_repository.py
  apps/api/app/schemas/organization_schemas.py
  apps/api/tests/unit_tests/test_article_valid_check.py
Labels: backend

#443 fix duplicates in match MatchDetailResponse
  apps/api/app/schemas/articles_schemas.py
  apps/api/app/services/search_profiles_service.py
  apps/api/tests/unit_tests/test_search_profiles.py
Labels: bug, backend

#440 fix updating user roles
  apps/api/app/repositories/user_repository.py
  apps/api/app/services/organization_service.py
Labels: bug, backend

#455 Add pdf_as_link to organizations
  apps/api/alembic/versions/105a3eb259e5_add_pdf_as_link_to_organizations.py
  apps/api/alembic/versions/819c8c6698fd_.py
  apps/api/app/models/organization.py
  apps/api/app/repositories/organization_repository.py
  apps/api/app/schemas/organization_schemas.py
  apps/api/app/services/organization_service.py
Labels: backend

#446 chore: remove hardcoded languages
  apps/api/app/repositories/entity_repository.py
  apps/api/app/schemas/search_profile_schemas.py
  apps/api/app/schemas/user_schema.py
  apps/api/app/services/email_service.py
  apps/api/app/services/search_profiles_service.py
  apps/api/app/services/web_harvester/crawlers/eurams_crawler.py
  apps/api/app/services/web_harvester/scraper.py
Labels: backend

#470 fix alembic versions
  apps/api/alembic/versions/105a3eb259e5_add_pdf_as_link_to_organizations.py
  apps/api/alembic/versions/36d16a1fbaec_add_breaking_news_to_users.py
Labels: bug, backend

#436 Fix filterbar reports disappears when no matches
  apps/frontend/app/pages/reports/reports.tsx
Labels: frontend

#459 Only show 5 keywords article page meta data info
  apps/frontend/app/custom-components/article/article-sidebar.tsx
  apps/frontend/public/locales/de/translations.json
  apps/frontend/public/locales/en/translations.json
Labels: frontend

#462 Add reports skeleton
  apps/frontend/app/custom-components/breadcrumb-skeleton.tsx
  apps/frontend/app/custom-components/reports/report-card-skeleton.tsx
  apps/frontend/app/pages/reports/reports.tsx
  apps/frontend/public/locales/de/translations.json
  apps/frontend/public/locales/en/translations.json
Labels: frontend

#427 feat: added email notification for relevant breaking news
  apps/api/app/api/v1/endpoints/crawler_controller.py
  apps/api/app/models/breaking_news.py
  apps/api/app/repositories/user_repository.py
  apps/api/app/services/email_service.py
  apps/api/app/services/web_harvester/breaking_news_crawler.py
  apps/api/app/templates/breaking_news_template.html
Labels: backend

#474 Add skeletons breaking news
  apps/frontend/app/custom-components/breaking-news/breaking-news-card-skeleton.tsx
  apps/frontend/app/pages/breaking-news/breaking-news.tsx
  apps/frontend/public/locales/de/translations.json
  apps/frontend/public/locales/en/translations.json
Labels: frontend

#473 Add skeleton article page, Fix error page showing when loading
  apps/frontend/app/custom-components/article/article-page-skeleton.tsx
  apps/frontend/app/routes/article.tsx
Labels: frontend

#472 Fix: duplicate topics in SP overview
  apps/api/app/services/search_profiles_service.py
Labels: backend

#394 Feat/299 pdf improve design
  apps/api/app/repositories/crawl_stats_repository.py
  apps/api/app/services/crawl_stats_pdf_service.py
  apps/api/app/services/locales/de/LC_MESSAGES/translations.po
  apps/api/app/services/pdf_service/colors.py
  apps/api/app/services/pdf_service/cover_elements.py
  apps/api/app/services/pdf_service/fonts.py
  apps/api/app/services/pdf_service/full_articles_elements.py
  apps/api/app/services/pdf_service/header_footer.py
  apps/api/app/services/pdf_service/markdown_utils.py
  apps/api/app/services/pdf_service/news_item.py
  apps/api/app/services/pdf_service/original_elements.py
  apps/api/app/services/pdf_service/pdf_service.py
  apps/api/app/services/pdf_service/styles.py
  apps/api/app/services/pdf_service/summaries_elements.py
  apps/api/app/services/pdf_service/utils.py
  apps/api/crawl_stats_report.pdf
Labels: backend

#477 feat/handelsblatt crawler
  apps/api/app/services/web_harvester/crawler.py
  apps/api/app/services/web_harvester/crawlers/handelsblatt_crawler.py
  apps/api/data/subscriptions.json
  apps/api/requirements.txt
Labels: backend

#422 feat: add article cleanup service
  apps/api/app/services/article_cleanup_service.py
  apps/api/app/services/article_vector_service.py
  apps/api/app/services/pipeline.py
Labels: backend

#421 Improvements to llm login approach
  apps/api/app/services/login_llm_service.py
  apps/api/app/services/web_harvester/web_harvester_orchestrator.py
Labels: backend

#490 feat: implement deletion of orphaned keywords with no topic links
  apps/api/app/repositories/topics_repository.py
Labels: backend

#487 Disable automatic deployments to production
  .github/workflows/backend-deploy.yml
Labels: meta

#475 feat: add organisation settings
  apps/api/app/api/v1/endpoints/organization_controller.py
  apps/api/app/repositories/organization_repository.py
  apps/api/app/services/organization_service.py
  apps/frontend/app/app.css
  apps/frontend/app/components/ui/dropdown-menu.tsx
  apps/frontend/app/custom-components/header.tsx
  apps/frontend/app/custom-components/layout.tsx
  apps/frontend/app/custom-components/profile/edit/data-table-subscriptions.tsx
  apps/frontend/app/pages/organisation-settings/organisation-settings-page.tsx
  apps/frontend/app/routes.ts
  apps/frontend/app/routes/organisation-settings.tsx
  apps/frontend/public/locales/de/translations.json
  apps/frontend/public/locales/en/translations.json
  apps/frontend/types/api-types-v1.d.ts
Labels: frontend

#492 fix: mail removal
  apps/frontend/app/custom-components/profile/edit/data-table-mailing.tsx
Labels: frontend

#498 chore: breaking news link new tab
  apps/frontend/app/custom-components/breaking-news/breaking-news-card.tsx
Labels: frontend

#500 Fix: get_all_subscriptions only as superuser
  apps/api/app/api/v1/endpoints/subscription_controller.py
Labels: bug, backend

#476 fix: fix pipeline stuff
  apps/api/Dockerfile
  apps/api/app/core/db.py
  apps/api/app/services/article_summary_service.py
  apps/api/app/services/email_service.py
  apps/api/app/services/pdf_service/pdf_service.py
  apps/api/app/services/web_harvester/utils/web_utils.py
  apps/api/app/services/web_harvester/web_harvester_orchestrator.py
  apps/api/app/templates/breaking_news_template.html
  scripts/docker-compose.dev.yml
Labels: backend

#517 Include validity check after scraping
  apps/api/app/services/web_harvester/web_harvester_orchestrator.py
Labels: backend

#519 Adjust height profile cards, Adjust profile card skeleton
  apps/frontend/app/custom-components/dashboard/profile-card-skeleton.tsx
  apps/frontend/app/custom-components/dashboard/profile-card.tsx
Labels: frontend

#532 Fix selection borders cut off by enclosing div
  apps/frontend/app/custom-components/profile/edit/edit-profile.tsx
  apps/frontend/app/pages/search-profile/search-profile.tsx
Labels: frontend

#530 Remove superuser restriction to all_subscriptions
  apps/api/app/api/v1/endpoints/subscription_controller.py
Labels: backend

#535 Disable scheduler deploy
  .github/workflows/scheduler-deploy.yml
Labels: bug

#505 chore: frontend tweaks
  apps/api/app/schemas/organization_schemas.py
  apps/frontend/app/custom-components/dashboard/profile-card.tsx
  apps/frontend/app/custom-components/header.tsx
  apps/frontend/app/pages/admin/admin.tsx
  apps/frontend/app/pages/dashboard/dashboard.tsx
  apps/frontend/types/api-types-v1.d.ts
Labels: frontend

#488 346 articles subscription restriction
  apps/api/app/repositories/article_repository.py
  apps/api/app/repositories/subscription_repository.py
  apps/api/app/services/pdf_service/pdf_service.py
  apps/api/app/services/search_profiles_service.py
  apps/api/tests/unit_tests/test_search_profiles.py
Labels: backend

#494 Pdf as attachment in email
  apps/api/alembic/versions/007a6a6e7acd_email_relation_with_report.py
  apps/api/app/models/email.py
  apps/api/app/models/report.py
  apps/api/app/repositories/email_repository.py
  apps/api/app/repositories/organization_repository.py
  apps/api/app/repositories/search_profile_repository.py
  apps/api/app/services/email_service.py
  apps/api/app/services/locales/de/LC_MESSAGES/translations.po
  apps/api/app/services/s3_service.py
  apps/api/app/templates/email_template.html
Labels: backend

#541 fix string
  apps/api/app/services/search_profiles_service.py
Labels: backend

#543 Fix/edit profile tables
  apps/frontend/app/custom-components/admin-settings/data-table-users.tsx
  apps/frontend/app/custom-components/profile/edit/columns.tsx
  apps/frontend/app/custom-components/profile/edit/data-table-mailing.tsx
  apps/frontend/app/custom-components/profile/edit/edit-profile.tsx
  apps/frontend/app/custom-components/profile/edit/mailing.tsx
Labels: frontend

#547 Fix/crawler table (and orga table)
  apps/frontend/app/custom-components/admin-settings/data-table.tsx
  apps/frontend/app/custom-components/profile/edit/data-table-subscriptions.tsx
  apps/frontend/app/pages/crawler-stats/crawler-stats.tsx
Labels: bug, frontend

#550 Remove coma from email salutation
  apps/api/app/services/email_service.py
Labels: backend

#546 fix/handelsblatt-crawler
  apps/api/app/services/web_harvester/crawlers/handelsblatt_crawler.py
  apps/api/app/services/web_harvester/web_harvester_orchestrator.py
Labels: bug, backend

#557 Fix/endpoints bugs
  apps/api/app/api/v1/endpoints/organization_controller.py
  apps/api/app/models/article.py
  apps/api/app/schemas/articles_schemas.py
  apps/api/app/services/search_profiles_service.py
Labels: backend

#562 Fix access rights of organization PUT
  apps/api/app/services/organization_service.py
Labels: backend

#542 Add ALB for Qdrant module
  infra/main.tf
  infra/modules/alb/main.tf
  infra/modules/qdrant/main.tf
Labels: meta

#563 chore: cleanup frontend issues
  apps/frontend/app/custom-components/dashboard/profile-card.tsx
  apps/frontend/app/custom-components/profile/edit/data-table-subscriptions.tsx
  apps/frontend/app/pages/admin/dialogs/subscription-dialog.tsx
  apps/frontend/app/pages/crawler-stats/crawler-stats.tsx
  apps/frontend/app/pages/organisation-settings/organisation-settings-page.tsx
  apps/frontend/app/pages/search-profile/search-profile.tsx
Labels: frontend

#569 Fix filter logic access rights profile cards
  apps/frontend/app/pages/dashboard/dashboard.tsx
Labels: frontend

#493 Feat/landing page v2
  apps/frontend/app/pages/welcome/mock-data.ts
  apps/frontend/app/pages/welcome/mocked-article-sidebar.tsx
  apps/frontend/app/pages/welcome/mocked-article.tsx
  apps/frontend/app/pages/welcome/mocked-breaking-news.tsx
  apps/frontend/app/pages/welcome/mocked-dashboard.tsx
  apps/frontend/app/pages/welcome/mocked-profile-card.tsx
  apps/frontend/app/pages/welcome/mocked-search-profile.tsx
  apps/frontend/app/pages/welcome/mocked-sidebar-filter.tsx
  apps/frontend/app/pages/welcome/mocked-topics.tsx
  apps/frontend/app/pages/welcome/welcome.tsx
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/public/TUM_Logo.png
  apps/frontend/public/TUM_Logo.svg
  apps/frontend/public/locales/de/translations.json
  apps/frontend/public/locales/en/translations.json
  apps/frontend/public/mocked-email.html
  apps/frontend/public/press_wallpaper.jpg
Labels: frontend

#586 chore: cleanup frontend
  apps/frontend/app/custom-components/admin-settings/data-table-users.tsx
  apps/frontend/app/hooks/use-authorization.tsx
  apps/frontend/app/pages/welcome/welcome.tsx
  apps/frontend/public/locales/de/translations.json
  apps/frontend/public/locales/en/translations.json
Labels: frontend

#585 552 refactor centralize llm model configuration management v1
  apps/backend/.env.example
  apps/backend/app/core/config.py
  apps/backend/app/services/article_cleaner/cleaner_llm.py
  apps/backend/app/services/article_summary_service.py
  apps/backend/app/services/chatbot_service/chatbot_response.py
  apps/backend/app/services/llm_service/llm_client.py
  apps/backend/app/services/llm_service/llm_models.py
  apps/backend/app/services/login_llm_service.py
  apps/backend/app/services/search_profiles_service.py
  apps/backend/app/services/translation_service.py
  apps/backend/tests/unit_tests/test_llm_service.py
Labels: backend

#574 Feat/414 pdf design
  apps/backend/app/services/crawl_stats_pdf_service.py
  apps/backend/app/services/locales/de/LC_MESSAGES/translations.po
  apps/backend/app/services/pdf_service/cover_elements.py
  apps/backend/app/services/pdf_service/fonts.py
  apps/backend/app/services/pdf_service/full_articles_elements.py
  apps/backend/app/services/pdf_service/header_footer.py
  apps/backend/app/services/pdf_service/markdown_utils.py
  apps/backend/app/services/pdf_service/news_item.py
  apps/backend/app/services/pdf_service/pdf_service.py
  apps/backend/app/services/pdf_service/styles.py
  apps/backend/assets/fonts/Inter_18pt-Bold.ttf
  apps/backend/assets/fonts/Inter_18pt-BoldItalic.ttf
  apps/backend/assets/fonts/Inter_18pt-Italic.ttf
  apps/backend/assets/fonts/Inter_18pt-Regular.ttf
  apps/backend/crawl_stats_report.pdf
Labels: backend

#584 Changed errors to warnings
  apps/backend/app/services/article_cleaner/cleaner_llm.py
  apps/backend/app/services/login_llm_service.py
  apps/backend/app/services/web_harvester/crawlers/enhesa_crawler.py
  apps/backend/app/services/web_harvester/crawlers/eurams_crawler.py
  apps/backend/app/services/web_harvester/crawlers/ft_crawler.py
  apps/backend/app/services/web_harvester/crawlers/handelsblatt_crawler.py
  apps/backend/app/services/web_harvester/utils/web_utils.py
  apps/backend/app/services/web_harvester/web_harvester_orchestrator.py
Labels: backend

#591 Reduce size image, Unround image corners
  apps/frontend/app/custom-components/article/article-body.tsx
Labels: frontend

#576 Fixes in translation
  apps/backend/app/repositories/article_repository.py
  apps/backend/app/repositories/entity_repository.py
  apps/backend/app/services/email_service.py
  apps/backend/app/services/locales/de/LC_MESSAGES/translations.po
  apps/backend/app/services/pdf_service/pdf_service.py
  apps/backend/app/services/pipeline.py
  apps/backend/app/services/search_profiles_service.py
  apps/backend/app/services/translation_service.py
  apps/backend/tests/unit_tests/test_search_profiles.py
  apps/frontend/app/custom-components/article/article-entities.tsx
Labels: bug, backend

#594 Fix: empty pdf
  apps/backend/alembic/versions/0c826f19ce87_add_empty_status_to_report.py
  apps/backend/app/api/v1/endpoints/article_controller.py
  apps/backend/app/models/report.py
  apps/backend/app/services/email_service.py
  apps/backend/app/services/locales/de/LC_MESSAGES/translations.po
  apps/backend/app/services/pdf_service/pdf_service.py
  apps/backend/app/services/report_service.py
  apps/backend/app/templates/email_template.html
Labels: backend

#596 Fix: separate scraping logout config
  apps/backend/alembic/versions/6ab7103717b1_separate_logout_config_to_avoid_.py
  apps/backend/app/models/subscription.py
  apps/backend/app/services/web_harvester/utils/web_utils.py
  apps/backend/data/subscriptions.json
Labels: backend

#603 fix: scheduler
  infra/main.tf
  infra/modules/scheduler/main.tf
Labels: bug, meta

#589 Add infra docs
  docs/INFRA.md
  docs/images/alb.png
  docs/images/ecs.png
  docs/images/ses-action.png
  docs/images/ses.png
  scripts/lambda/triggerChat.yaml
  scripts/lambda/trigger_chat.py
Labels: documentation, meta

#597 Set use limit to LLM approach
  apps/backend/alembic/versions/a5e9a3eb2301_merge_heads.py
  apps/backend/alembic/versions/db3d4934b5cf_store_date_of_last_llm_login_attempt.py
  apps/backend/app/models/subscription.py
  apps/backend/app/services/login_llm_service.py
  apps/backend/app/services/web_harvester/web_harvester_orchestrator.py
Labels: backend

#608 refactor: update LLM model configuration and mappings
  apps/backend/.env.example
  apps/backend/app/core/config.py
  apps/backend/app/services/llm_service/llm_models.py
  apps/backend/tests/unit_tests/test_llm_service.py
Labels: backend

#600 Chatbot: Limit messages to a maximum of 100 (assistant and user messages)
  apps/backend/.env.example
  apps/backend/app/core/config.py
  apps/backend/app/models/chat_message.py
  apps/backend/app/models/email_conversation.py
  apps/backend/app/repositories/chatbot_repository.py
  apps/backend/app/services/chatbot_service/chatbot_email_sending.py
  apps/backend/app/services/chatbot_service/chatbot_service.py
Labels: meta

#609 Fix/hydration error
  apps/frontend/app/custom-components/article/article-entities.tsx
  apps/frontend/app/custom-components/article/article-meta-data-table.tsx
  apps/frontend/app/i18n.ts
  apps/frontend/app/pages/welcome/mock-data.ts
  apps/frontend/app/pages/welcome/mocked-article-sidebar.tsx
  apps/frontend/package.json
Labels: frontend

#610 Fix set organization subscriptions
  apps/backend/app/repositories/organization_repository.py
Labels: backend

#614 606 translate breaking news
  apps/backend/app/models/breaking_news.py
  apps/backend/app/models/email.py
  apps/backend/app/services/email_service.py
  apps/backend/app/services/llm_service/prompts/breaking_news_translation_prompt.py
  apps/backend/app/services/locales/de/LC_MESSAGES/translations.po
  apps/backend/app/services/translation_service.py
  apps/backend/app/services/web_harvester/breaking_news_crawler.py
  apps/backend/app/templates/breaking_news_template.html
Labels: backend

#619 Send emails to externals
  apps/backend/app/repositories/organization_repository.py
  apps/backend/app/services/email_service.py
  apps/backend/app/templates/email_template.html
Labels: backend

#615 370 chatbot include conversation ids in the email subject after first response to user
  apps/backend/app/models/breaking_news.py
  apps/backend/app/models/email_conversation.py
  apps/backend/app/repositories/chatbot_repository.py
  apps/backend/app/services/chatbot_service/chatbot_context.py
  apps/backend/app/services/chatbot_service/chatbot_response.py
  apps/backend/app/services/chatbot_service/chatbot_service.py
  apps/backend/app/services/email_service.py
Labels: meta

#622 bug/improved search with search term
  apps/backend/app/services/search_profiles_service.py
Labels: bug, backend

#628 Set timeout for Qdrant client initialization
  apps/backend/app/core/db.py
Labels: bug

#539 chore: user guide
  docs/USER_GUIDE.md
  docs/assets/admin-settings.png
  docs/assets/article-page.png
  docs/assets/crawler-stats.png
  docs/assets/dashboard.png
  docs/assets/mail-settings.png
  docs/assets/organisation-settings.png
  docs/assets/personal-settings.png
  docs/assets/profile-options.png
  docs/assets/search-profile-overview.png
  docs/assets/sub-settings.png
Labels: documentation

#624 feat: Refactor PDF service and add Exeption handling
  apps/backend/app/api/v1/endpoints/article_controller.py
  apps/backend/app/repositories/article_repository.py
  apps/backend/app/services/locales/de/LC_MESSAGES/translations.po
  apps/backend/app/services/pdf_service/cover_elements.py
  apps/backend/app/services/pdf_service/full_articles_elements.py
  apps/backend/app/services/pdf_service/header_footer.py
  apps/backend/app/services/pdf_service/pdf_service.py
  apps/backend/app/services/pdf_service/utils.py
Labels: backend

#633 chore: dont use accordion on breaking news
  apps/frontend/app/custom-components/breaking-news/breaking-news-card.tsx
  apps/frontend/app/locales/de/translations.json
  apps/frontend/app/locales/en/translations.json
  apps/frontend/app/pages/breaking-news/breaking-news.tsx
Labels: frontend

#641 feat: add publisher
  apps/frontend/app/custom-components/article/article-body.tsx
  apps/frontend/app/custom-components/header.tsx
  apps/frontend/app/pages/article/article.tsx
  apps/frontend/types/api-types-v1.d.ts
Labels: frontend

#644 Increase vcpu for prod deployment to 2vCPU
  infra/main.tf
  infra/modules/alb/main.tf
  infra/modules/ecs/main.tf
Labels: meta

#648 Fix/alb healthcheck
  infra/modules/alb/main.tf
Labels: bug

#647 Chore/shutdown scheduler
  infra/main.tf
  infra/modules/scheduler/main.tf
Labels: meta

#588 feat: add comprehensive database schema documentation
  docs/DATABASE_SCHEMA.md
Labels: documentation, backend

#623 Documentation PDF Service
  docs/PDF_CRAWLER_STATS.md
  docs/PDF_REPORT.md
  docs/images/example_crawl_stats_report.pdf
  docs/images/example_report_pdf.pdf
Labels: documentation, backend

#630 docs/data-cleaning
  docs/DATA_CLEANING.md
Labels: documentation, backend
